
.my-pad{
	padding: 0;	
}
.my-sidebar{
	
	padding: 0;	
}
.my-sidebar-col{

}
.hight100{
	height: 150px;
}

.admin-login{
	background-image: url(../img/e258abbdae9c0c6a074a69cda498f51f.jpg);
}
.admin-login-login{
	background-color: whitesmoke;
}
.userresume-down{
	background-image: url(../img/8c374c6265522f86c834a2c30861c920.jpg);
}
